<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col">
      <h1>Witaj w kursie Angular!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <input (keyup)="message = $event.target.value">

      <button (click)="refElement.show()">Show</button>
      <button (click)="refElement.close()">Hidden</button>

      <app-popup-message
        #refElement 
        [(open)]="open"
        [text]="'popup'"
      ></app-popup-message>
    </div>
  </div> 
</div>
