<h4>Social Feed</h4>
<div class='col-8 mx-auto'>
    <app-posts-filter (queryChange)='filter($event)'></app-posts-filter>

    <!-- <ng-template [ngIf]="getResults().length" [ngIfThen]="results" [ngIfElse]="noResults" ></ng-template> -->
    <ng-container *ngIf="getResults().length; then resultsTpl; else noResultsTpl">

    </ng-container>

</div>





<ng-template #noResultsTpl>
    <app-no-results></app-no-results>
</ng-template>

<ng-template #regularPost let-post>
    <div class='card-body'>
        <app-post-header [post]='post'></app-post-header>
        <p class='card-text'>{{post.content}}</p>
    </div>
    <div class='card-footer'>
        <app-post-actions [post]='post'></app-post-actions>
    </div>
</ng-template>

<ng-template #mediaPost let-post>
    <div class='card-body'>
        <app-post-header [post]='post'></app-post-header>
        <p class='card-text'>{{post.content}}</p>
    </div>
    <img [src]="post.media.image" alt="sample-img" class="w-100 mx-auto">
    <div class='card-footer'>
        <app-post-actions [post]='post'></app-post-actions>
    </div>
</ng-template>

<ng-template #resultsTpl>
    <div class='card-deck flex-column'>
        <!-- <ng-template ngFor let-post="$implicit" [ngForOf]="getResults()"> -->
            <div class='card mb-4' *ngFor='let result of getResults()'>
                <!-- <ng-container
                    [ngTemplateOutlet]="result.media ? mediaPost : regularPost"
                    [ngTemplateOutletContext]="{
                        $implicit: result
                    }"
                ></ng-container> Same as below -->
                <ng-container
                    *ngTemplateOutlet="result.media ? mediaPost : regularPost; Context: {
                        $implicit: result
                    }"
                ></ng-container>
            </div>
        <!-- </ng-template> -->
    </div>
</ng-template>