<h4>Social Feed</h4>
<div class='col-8 mx-auto'>
    <app-posts-filter (queryChange)='filter($event)'></app-posts-filter>

    <!-- <ng-template [ngIf]="getResults().length" [ngIfThen]="results" [ngIfElse]="noResults" ></ng-template> -->
    <ng-container
        *ngIf="getResults().length; then resultsTpl; else noResultsTpl"
    ></ng-container>

</div>





<ng-template #resultsTpl>
    <div class='card-deck flex-column'>
        <!-- <ng-template ngFor let-post="$implicit" [ngForOf]="getResults()"> -->
            <div class='card mb-4' *ngFor='let result of getResults()'>
                <!-- <ng-container
                    *ngTemplateOutlet="result.media ? mediaPost : regularPost; Context: getPostContext(result)"
                ></ng-container> -->
                <!-- <ng-container
                    *appPostOutlet="result; types templates"
                ></ng-container> -->
                <app-dynamic-post [post]='result'></app-dynamic-post>
                <!-- <ng-container [ngSwitch]="result.type">
                    <app-media-post *ngSwitchCase="'media'" [post]='result'></app-media-post>
                    <app-regular-post *ngSwitchDefault [post]='result'></app-regular-post>
                </ng-container> -->
            </div>
        <!-- </ng-template> -->
    </div>
</ng-template>

<!-- same as regular -->
<ng-template let-post #mediaPost> 
    <div class='card-body'>
        <app-post-header [post]='post'></app-post-header>
        <p class='card-text'>{{post.content}}</p>
    </div>
    <img [src]="post.media.image" alt="sample-img" class="w-100 mx-auto">
    <div class='card-footer'>
        <app-post-actions [post]='post'></app-post-actions>
    </div>
</ng-template>

<ng-template let-post #regularPost >
    <div class='card-body'>
        <app-post-header [post]='post'></app-post-header>
        <p class='card-text'>{{post.content}}</p>
    </div>
    <div class='card-footer'>
        <app-post-actions [post]='post'></app-post-actions>
    </div>
</ng-template>

<ng-template #noResultsTpl>
    <app-no-results></app-no-results>
</ng-template>